@import 'node_modules/bootstrap/scss/bootstrap';

a {
    text-decoration: none;
    color: inherit;
}

.router-link-active,
.router-link-exact-active{
    border-bottom: 1px solid blue;
    color: blue;
}